
button {
  background-color: #8691F0;
  color: black;
  height: 140px;
  width: 50%;
  border-radius: 20px;
  font-family: Tahoma;
  font-size: 42px;
  margin: auto;
  box-shadow: 8px 8px #776FD9;
  outline: none;
}
  button:hover {
    background-color: #776FD9;

  }

  button:active {
    background-color: #A081FC;
    box-shadow: 2px 2px #776FD9;
    transform: translateY(4px);
  }

#welcome-panel{
    width:100%;
    height:100%;
}

#topleft {
  width: 50%;
  position: absolute;
  top:30%;
  left:20%;
}
#topright {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 55%;
}
#bottomleft {
  width: 50%;
  position: absolute;
  left: 20%;
  top: 60%;
}
#bottomright {
  width: 50%;
  position: absolute;
  left: 55%;
  top: 60%;
}
